# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
src/main/resources
src/main/java/messages/generator/interfaces/IKafkaConstants.java
bin
.settings
.gitignore
notas-messages-generator.txt
